@keyframes shift_set_color_andOpacity{
    from{
        color: gray;
        opacity: 0.2;
    }
    to{
        color: red;
        opacity: 1;
    }
}

@keyframes shift_control_color_andOpacity{
    from{
        color: gray;
        opacity: 0.2;
    }
    to{
        color: blue;
        opacity: 1;
    }
}

@keyframes item_disappear_opacity{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes item_show_opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes showThoughtBubble{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes first_move {
    from {
        opacity: 1;
    }

    97% {
        opacity: 1;
    }

    100% {
        left: 20%;
        opacity: 0;
    }
}

@keyframes currentB_first {
    50% {
        top: 14.5%;
    }

    51% {
        left: 14.9%;
    }

    97% {
        opacity: 1;
    }

    100% {
        left: 21%;
        top: 14.5%;
        opacity: 0;
    }
}

@keyframes move_first_bubble{
    0%{
        opacity: 1;
    }
    10%{
        opacity: 1;
        left: 5.7%;
        top: 50%;
        font-size: 1vw;
    }
    100%{
        opacity: 0;
        left: 8%;
        top: 55%;
        font-size: 0.1vw;
    }
}

@keyframes IManimShow{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.5;
    }
}

@keyframes hide_opacity_fromhalf{
    from{
        opacity: 0.5;
    }
    to{
        opacity: 0;
    }
}

@keyframes onethird_show{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.3;
    }
}

@keyframes IManimShowText{
    from{
        opacity: 0.000001;
    }
    to{
        opacity: 1;
    }
}

@keyframes showTipsBox{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*Instruction Block Movements*/

@keyframes moveOpcode_ini{
    to{
        left: 34%;
        top: 42%;
    }
}

@keyframes moveRS_ini{
    to{
        left: 34.2%;
        top: 48.5%;
    }
}

@keyframes moveRT_ini{
    to{
        left: 34.2%;
        top: 52%;
    }
}

@keyframes moveRD_ini{
    to{
        left: 34.2%;
        top: 65%;
    }
}

@keyframes moveShamt_ini{
    to{
        left: 32.75%;
        top: 75%;
    }
}

@keyframes moveFunc_ini{
    to{
        left: 35.5%;
        top: 75%;
    }
}

/*Start of second group of animations*/

@keyframes moveOpcode_second{
    0%{
        left: 34%;
        top: 42%;
        opacity: 1;
    }
    50%{
        left: 34%;
        top: 36.5%;
        opacity: 1;
    }
    94%{
        opacity: 1;
    }
    100%{
        left: 42%;
        top: 36.5%;
        opacity: 0;
    }
}

@keyframes moveRs_second{
    0%{
        left: 34.2%;
        top: 48.5%;
    }
    50%{
        left: 46.5%;
        top: 48.5%;
    }
    75%{
        left: 46.5%;
        top: 50.2%;
    }
    95%{
        opacity: 1;
    }
    100%{
        left: 48.5%;
        top: 50.2%;
        opacity: 0;
    }
}

@keyframes move_valueblock1_ini{
    0%{
        left: 58%;
        top: 53.5%;
    }
    50%{
        left: 63.8%;
        top: 53.5%;
    }
    75%{
        left: 63.8%;
        top: 56.5%;
    }
    100%{
        left: 67.3%;
        top: 56.5%;
    }
}

@keyframes moveRT_second{
    0%{
        left: 34.2%;
        top: 52%;
    }
    50%{
        left: 46.5%;
        top: 52%;
    }
    75%{
        left: 46.5%;
        top: 53.5%;
    }
    95%{
        opacity: 1;
    }
    100%{
        left: 48.5%;
        top: 53.5%;
        opacity: 0;
    }
}

@keyframes move_valueblock2_ini{
    0%{
        left: 58%;
        top: 57%;
    }
    25%{
        left: 61.6%;
        top: 57%;
    }
    45%{
        opacity: 1;
    }
    50%{
        left: 61.6%;
        top: 61%;
        opacity: 0;
    }

    55%{
        left: 64%;
        top: 65.5%;
        opacity: 0;
    }
    56%{
        opacity: 1;
    }
    100%{   
        left: 67.3%;
        top: 65.5%;
    }
}

@keyframes moveRD_second{
    0%{
        left: 34.2%;
        top: 65%;
    }
    48%{
        opacity: 1;
    }
    50%{
        left: 38.5%;
        top: 65%;
        opacity: 0;
    }
    51%{
        left: 42%;
        top: 59.8%;
    }
    55%{
        left: 42%;
        top: 59.8%;
        opacity: 1;
    }
    65%{
        left: 44.3%;
        top: 59.8%;
    }
    75%{
        left: 44.3%;
        top: 57%;
    }
    97%{
        opacity: 1;
    }
    100%{
        left: 48.7%;
        top: 57%;
        opacity: 0;
    }
}

@keyframes moveShamt_second{
    0%{
        left: 32.75%;
        top: 75%;
    }
    15%{
        left: 32.75%;
        top: 80%;
    }
    30%{
        left: 42%;
        top: 80%;   
        /*this is last position before disappearing*/
    }
    48%{
        opacity: 1;
        transform: none;
        width: auto;
    }
    50%{
        width: 0%;
        transform: rotate(360deg);
        opacity: 0;
    }
    100%{
        opacity: 0;
        left: 47%;
        top: 80%;
    }
}

@keyframes moveFunc_second{
    0%{
        left: 35.5%;
        top: 75%;
    }
    15%{
        left: 35.5%;
        top: 80%;
    }
    30%{
        left: 44.7%;
        top: 80%;
    }
    40%{
        left: 43.3%;
        top: 82%;
    }
    50%{
        left: 43.3%;
        top: 90.5%;
    }
    75%{
        left: 53.2%;
        top: 90.5%;
    }
    85%{
        left: 53.2%;
        top: 86.5%;
    }
    97%{
        opacity: 1;
    }
    100%{
        left: 54.8%;
        top: 86.5%;
        opacity: 0;
    }
}

@keyframes moveTypeOfOperation_ini{
    0%{
        left: 59.3%;
        top: 85.7%; 
        opacity: 0;
    }
    3%{
        opacity: 1;
    }
    50%{
        left: 69%;
        top: 85.7%;  
    }
    97%{
        opacity: 1;
    }
    100%{
        left: 69%;
        top: 67.5%;
        opacity: 0;
    }
}



/*Stage 3 animations*/


@keyframes combine_num_1{
    0%{
        left: 67.3%;
        top: 56.5%;
    }
    35%{
        opacity: 1;
    }
    50%{
        left: 67.3%;
        top: 60%;
        opacity: 0;
    }
    100%{
        left: 67.3%;
        top: 60%;
        opacity: 0;
    }
}

@keyframes combine_num_2{
    0%{
        left: 67.3%;
        top: 65.5%;
    }
    35%{
        opacity: 1;
    }
    50%{
        left: 67.3%;
        top: 63%;
        opacity: 0;
    }
    100%{
        left: 67.3%;
        top: 63%;
        opacity: 0;
    }
}

@keyframes moveTotal_num_forADDU{
    0%{
        left: 67.3%;
        top: 61.5%;
    }
    5%{
        left: 70%;
        top: 61.5%;
        opacity: 1;
    }
    7%{
        left: 70%;
        top: 63.2%;
    }
    10%{
        left: 74.5%;
        top: 63.2%;
    }
    13%{
        left: 74.5%;
        top: 71.8%;
    }
    15%{
        left: 72.9%;
        top: 71.8%;
    }
    25%{
        left: 72.9%;
        top: 92.5%;
    }
    50%{
        left: 88.6%;
        top: 92.5%;
    }
    54%{
        opacity: 1;
    }
    55%{
        left: 88.6%;
        top: 84.5%;
        opacity: 0;
    }
    56%{
        left: 90.5%;
        top: 76.7%;
        opacity: 0;
    }
    56.5%{
        opacity: 1;
    }
    57%{
        left: 92%;
        top: 76.7%;
    }
    65%{
        left: 92%;
        top: 94.3%;
    }
    85%{
        left: 46.2%;
        top: 94.3%;
    }
    93%{
        left: 46.2%;
        top: 59.3%;
    }
    97%{
        left: 49.3%;
        top: 59.3%;
    }
    100%{
        left: 49.3%;
        top: 59.3%;
        opacity: 1;
    }

}

/*FINAL ANIMATIONS FOR R TYPE ADDU*/

@keyframes move_currentC_icon_first{
    0%{
        left: 21%;
        top: 14.5%
    }
    100%{
        left: 21%;
        top: 19.5%;
    }
}

@keyframes shrink_infoBubble2{
    from{
        opacity: 1;
    }
    to{
        left: 21.5%;
        top: 20%;
        font-size: 0.2vw;
        opacity: 0;
    }
}

@keyframes move_incrementIcon{
    0%{
        left: 18%;
        top: 24.9%;
        opacity: 1;
    }
    50%{
        left: 21.5%;
        top: 24.9%;
        opacity: 1;
    }
    97%{
        opacity: 1;
    }
    100%{
        left: 21.5%;
        top: 20.5%;
        opacity: 0;
    }
}

@keyframes incremented_box_colorShift{
    0%{
        background-color: #08B4FF;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: #08B4FF;
    }
}

@keyframes final_currentC_move{
    0%{
        left: 21%;
        top: 19.5%;
        opacity: 1;
    }
    20%{
        left: 50.7%;
        top: 19.5%;
    }
    25%{
        left: 50.7%;
        top: 9.5%;
    }
    34%{
        opacity: 1;
    }
    35%{
        left: 74%;
        top: 9.5%;
        opacity: 0;
    }
    36%{
        left: 77%;
        top: 20.3%;
        opacity: 0;
    }
    37%{
        opacity: 1;
    }
    44%{
        opacity: 1;
    }
    45%{
        left: 83%;
        top: 20.3%;
        opacity: 0;
    }
    47%{
        left: 86.5%;
        top: 14.8%;
        opacity: 0;
    }
    48%{
        opacity: 1;
    }
    52%{
        left: 90.8%;
        top: 14.8%;
        opacity: 1;
    }
    63%{
        left: 90.8%;
        top: 1.8%;
        opacity: 1;
    }
    80%{
        left: 2.1%;
        top: 1.8%;
        opacity: 1;
    }
    92%{
        left: 2.1%;
        top: 56%;
        opacity: 1;
    }
    100%{
        left: 7.9%;
        top: 56%;
        opacity: 1;
    }
}