#startSIM {
    display: block;
    margin: auto;
}

#currentAIcon {
    display: block;
    width: 2.5%;
    padding: 2px;
    position: absolute;
    z-index: 99;
    left: 7.9%;
    top: 56%;
}

#currentBIcon {
    display: none;
    width: 2.5%;
    padding: 2px;
    position: absolute;
    z-index: 98;
    left: 14.9%;
    top: 56%;
}

#currentCIcon{
    display: none;
    position: absolute;
    width: 2.5%;
    padding: 2px;
    z-index: 98;
    left: 21%;
    top: 14.5%;
}

#incrementIcon{
    display: none;
    position: absolute;
    width: 1.5%;
    padding: 2px;
    z-index: 98;
    left: 18%;
    top: 24.9%;
    opacity: 0;
}

#infoBubble1 {
    background-color: #08B4FF;
    border: 3px solid black;
    border-radius: 5px;
    padding: 0.5%;
    position: absolute;
    color: white;
    display: none;
    font-size: 1vw;
    font-family: mainFont;
    left: 5.7%;
    top: 50%;
    opacity: 0;
    animation: showThoughtBubble 0.2s ease-in-out forwards;
    -webkit-animation: showThoughtBubble 0.2s ease-in-out forwards;
    -moz-animation: showThoughtBubble 0.2s ease-in-out forwards;
    -o-animation: showThoughtBubble 0.2s ease-in-out forwards;
}

#infoBubble2{
    background-color: #08B4FF;
    border: 3px solid black;
    border-radius: 5px;
    padding: 0.5%;
    position: absolute;
    color: white;
    display: none;
    font-size: 1vw;
    font-family: mainFont;
    left: 16.7%;
    top: 17.5%;
    opacity: 1;
    z-index: 99;
}

#currentAIcon:hover ~ #infoBubble1{
    display: block;
}

p#instr_32to26, p#instr_25to21, p#instr_20to16, p#instr_15to11, p#instr_15to0, p#instr_5to0{
    font-family: mainFont;
    position: absolute;
    font-size: 0.8vw;
    z-index: 90;
    color: gray;
    opacity: 0.2;
}

#instr_5to0{
    left: 48%;
    top: 90%;
}

#instr_32to26{
    left: 36%;
    top: 35.5%;
}

p#instr_25to21{
    left: 36%;
    top: 47.7%;
}

p#instr_20to16{
    left: 36%;
    top: 51%;
}

p#instr_15to11{
    font-size: 0.58vw;
    left: 35.8%;
    top: 68.1%;
}

p#instr_15to0{
    left: 36%;
    top: 79%;
}

p#instr_25to0, p#pcplus4_31to28, p#jumpadd_31to0, p#regdest_textCT, p#jump_textCT, p#branch_textCT, p#memread_textCT, p#memtoreg_textCT, p#aluop_textCT, p#memwrite_textCT, p#alusrc_textCT, p#regwrite_textCT{
    font-family: mainFont;
    font-size: 0.8vw;
    position: absolute;
    color: gray;
    opacity: 0.2;
    z-index: 90;
}

#jump_textCT{
    left: 50%;
    top: 27.8%;
}

#regdest_textCT{
    left: 42%;
    top: 23.8%;
}

#branch_textCT{
    left: 50%;
    top: 30.5%;
}

#memread_textCT{
    left: 50%;
    top: 33%;
}

#memtoreg_textCT{
    left: 50%;
    top: 35.5%;
}

#aluop_textCT{
    left: 50%;
    top: 37.7%; 
}

#memwrite_textCT{
    left: 50%;
    top: 39.9%; 
}

#alusrc_textCT{
    left: 50%;
    top: 41.8%; 
}

#regwrite_textCT{
    left: 50%;
    top: 43.6%; 
}

#instr_25to0{
    left: 28.5%;
    top: 7.5%; 
}

#pcplus4_31to28{
    left: 37.5%;
    top: 14.7%;
}

#jumpadd_31to0{
    left: 47%;
    top: 4.7%; 
}

/*==========================================================*/
/*Start of Actual Node Styling*/

#PCbox{
    display: block;
    position: absolute;
    top: 52.25%;
    left: 7.5%;
    width: 3.5%;
    height: 12.5%;
    z-index: 50;
}

#IMbox{
    display: block;
    position: absolute;
    top: 51.2%;
    left: 21.6%;
    width: 8.5%;
    height: 14.6%;
    z-index: 50;
    background-color: goldenrod;
    opacity: 0;
}

#IMboxTEXT{
    font-family: mainFont;
    position: absolute;
    display: block;
    font-size: 0.85vw;
    background-color: #08B4FF;
    padding: 0.3vw;
    color: white;
    border: 3px solid black;
    top: 37%;
    left: 19%;
    width: 12%;
    z-index: 99;
    opacity: 0;
}

#ADDbox_first{
    display: block;
    position: absolute;
    top: 15%;
    left: 21.6%;
    width: 6%;
    height: 14%;
    z-index: 50;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#MUXbox_first{
    display: block;
    position: absolute;
    top: 55%;
    left: 39.83%;
    width: 3.5%;
    height: 14%;
    z-index: 50;
    border-radius: 20px;
}

#CTRLbox{
    display: block;
    position: absolute;
    top: 30.8%;
    left: 44.85%;
    width: 4%;
    height: 17%;
    z-index: 50;
    border-radius: 50px;
    background-color: #08B4FF;
    opacity: 0;
}

#CTRLboxTEXT{
    font-family: mainFont;
    position: absolute;
    display: block;
    font-size: 0.85vw;
    background-color: #08B4FF;
    padding: 0.3vw;
    color: white;
    border: 3px solid black;
    top: 30%;
    left: 42.3%;
    width: 8%;
    z-index: 99;
    opacity: 0;
}

#RFbox{
    display: block;
    position: absolute;
    top: 52.2%;
    left: 50%;
    width: 8.5%;
    height: 14.6%;
    z-index: 50;
}

#SIGNEXDbox{
    display: block;
    position: absolute;
    top: 78.7%;
    left: 49%;
    width: 5%;
    height: 8.7%;
    z-index: 50;
    border-radius: 30px;
}

#ALUCTRLbox{
    display: block;
    position: absolute;
    top: 84.7%;
    left: 56%;
    width: 4%;
    height: 8.7%;
    z-index: 50;
    border-radius: 30px;
}

#MUXbox_second{
    display: block;
    position: absolute;
    top: 64%;
    left: 61.5%;
    width: 3.5%;
    height: 14%;
    z-index: 50;
    border-radius: 20px;
}

#SHFTLFT2box{
    display: block;
    position: absolute;
    top: 20.4%;
    left: 61%;
    width: 3.2%;
    height: 5.5%;
    z-index: 50;
    border-radius: 30px;
}

#ADDbox_second{
    display: block;
    position: absolute;
    top: 12.9%;
    left: 65%;
    width: 7%;
    height: 12.5%;
    z-index: 50;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#ALUbox{
    display: block;
    position: absolute;
    top: 58.5%;
    left: 67.8%;
    width: 7%;
    height: 12.5%;
    z-index: 50;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
}

#MUDbox_third{
    display: block;
    position: absolute;
    top: 10.5%;
    left: 75.2%;
    width: 3.5%;
    height: 14%;
    z-index: 50;
    border-radius: 20px;
}

#DMbox{
    display: block;
    position: absolute;
    top: 78.9%;
    left: 76.1%;
    width: 8.5%;
    height: 14.6%;
    z-index: 50;
}

#MUXbox_fourth{
    display: block;
    position: absolute;
    top: 73%;
    left: 87.85%;
    width: 3.5%;
    height: 14%;
    z-index: 50;
    border-radius: 20px;
}

#SFTLFT2JUMPbox{
    display: block;
    position: absolute;
    top: 8.5%;
    left: 35.7%;
    width: 4%;
    height: 7%;
    z-index: 50;
    border-radius: 30px;
}

#MUXbox_fifth{
    display: block;
    position: absolute;
    top: 10%;
    left: 84.5%;
    width: 3.5%;
    height: 14%;
    z-index: 50;
    border-radius: 20px;
}


.tipsBoxCanvasContainer{
    display: block;
    background-color: #71c7ec;
    position: absolute;
    width: 27%;
    height: 30%;
    z-index: 99;
    top: 69%;
    left: 3.1%;
    border-radius: 3px;
    border: 1px solid lightslategray;
}


#tipsBox{
    display: block;
    margin: 1%;
    background-color: #189ad3;
    height: 48%;
    font-size: 0.9vw;
    color: white;
    font-family: mainFont;
    padding: 0.5vw;
    border-radius: 15px;
    border: 1px solid white;
    opacity: 0;
}

#previousTipsBox{
    display: block;
    margin: 1%;
    background-color: #1ebbd7;
    height: 20%;
    font-size: 0.6vw;
    color: white;
    font-family: mainFont;
    padding: 0.5vw;
    border-radius: 15px;
    border: 1px solid white;
    opacity: 0;
}
