@keyframes showThoughtBubble{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes first_move {
    from {
        opacity: 1;
    }

    97% {
        opacity: 1;
    }

    100% {
        left: 20%;
        opacity: 0;
    }
}

@keyframes currentB_first {
    50% {
        top: 7.5%;
    }

    51% {
        left: 14.9%;
    }

    97% {
        opacity: 1;
    }

    100% {
        left: 21%;
        top: 7.5%;
        opacity: 0;
    }
}

@keyframes move_first_bubble{
    0%{
        opacity: 0.5;
    }
    97%{
        opacity: 0.5;
        font-size: 1vw;
        top: 25.5%;
    }
    100%{
        opacity: 0;
        left: 18%;
        top: 27%;
        font-size: 0.5vw;
    }
}

#startSIM {
    display: block;
    margin: auto;
}

#currentAIcon {
    display: block;
    width: 2.5%;
    padding: 2px;
    position: absolute;
    z-index: 99;
    left: 7.9%;
    top: 29.2%;
}

#currentBIcon {
    display: none;
    width: 2.5%;
    padding: 2px;
    position: absolute;
    z-index: 98;
    left: 14.9%;
    top: 29.2%;
}

#infoBubble1 {
    background-color: #08B4FF;
    border: 3px solid black;
    border-radius: 5px;
    padding: 0.5%;
    position: absolute;
    color: white;
    display: none;
    font-size: 1vw;
    font-family: mainFont;
    left: 1%;
    top: 25.5%;
    opacity: 0;
    animation: showThoughtBubble 0.2s ease-in-out forwards;
}

#infoBubble2{
    background-color: #08B4FF;
    border: 3px solid black;
    border-radius: 5px;
    padding: 0.5%;
    position: absolute;
    color: white;
    display: none;
    font-size: 1vw;
    font-family: mainFont;
    left: 11%;
    top: 28%;
    opacity: 0;
    animation: showThoughtBubble 0.2s ease-in-out forwards;
}

#currentAIcon:hover ~ #infoBubble1{
    display: block;
}

#currentBIcon:hover ~ #infoBubbleB{
    display: block;
}